/* .App {
  text-align: center;
}
.App h1 {
  color: blue;
}
.app button{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

.container {
  width: 15rem;
  height: 15rem;
  background-color: grey

} */